<h1 id="title">Ember Knight</h1>

<ul>
  <li>{{#link-to 'index'}}Index{{/link-to}}</li>
  <li>{{#link-to 'about'}}About{{/link-to}}</li>
  <li>{{#link-to 'customers'}}Customers{{/link-to}}</li>
</ul>

{{outlet}}
